/* Štýly pre chybové stránky */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.error-box {
    background-color: #ffebee;
    border-left: 4px solid #f44336;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.error-title {
    color: #b71c1c;
    font-weight: bold;
    margin-bottom: 10px;
}

.error-message {
    color: #b71c1c;
}

.btn-back {
    margin-top: 15px;
} 